<nav class="menu" id="mobile-nav-toggle">
  <div class="menu__wrapper">
    <span class="menu__item"></span>
    <span class="menu__item"></span>
    <span class="menu__item"></span>
  </div>
</nav>

<div id="mobile-nav" class="mobile shadow__level-1">
  <nav class="mobile__wrapper">
    <div class="mobile__logo">
      <a href="/">
        <img src="{{ "/assets/img/chico.svg/" | relative_url }}" alt="logo" class="logo">
      </a>
    </div>
    <ul class="mobile__list">
      <li class="nav__link">
        <a class="nav__link" href="/">Home</a>
      </li>
      <li class="nav__link">
        <a class="nav__link" href="/works">Works</a>
      </li>
      <li class="nav__link">
        <a class="nav__link" href="#property">Blog</a>
      </li>
    </ul>
    <ul class="mobile__social list-inline">
      <li class="list-inline-item">
        <a href="https://twitter.com/maitzeth" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.instagram.com/maitzethdrummer/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href=https://www.linkedin.com/in/andre-ivan-708294b3/"" target="_blank">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="mobile__overlay"></div>
